<div>
  <p [ngClass]="{pageTitle:true}">About</p>
  <div [ngClass]="{content:true}">
    <div [ngClass]="{aboutBlock: true}">
      <div>
        <img src="https://image.flaticon.com/icons/png/512/3711/3711643.png" alt="info">
      </div>
      <div>
        <p [ngClass]="{text: true}">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem facilis fugit incidunt laudantium, magni, molestias
          nisi odio provident quae, reiciendis sequi tempora veniam! Amet aspernatur blanditiis cumque deleniti deserunt dicta distinctio
          eligendi eos expedita, fuga itaque,</p>
      </div>
    </div>
  </div>
</div>
