.menu {
  background-color: #c1ad27;
  width: 100%;
  display: flex;
  justify-content: center;
}

.items{
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items > a{
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin: 0;
  padding: 15px 30px;
}
.items > a:hover{
  color: black;
  background-color: white;
  transition-duration: 0.4s;
}

.content{
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 40px;
}
